<form class="example-form" fxLayout="column" fxLayoutGap="20px">
  <h1 mat-dialog-title>Edit Venue</h1>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.name" matInput name="name" placeholder="Name" type="text" value="{{data.name}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.address" matInput name="address" placeholder="Address" type="text"
             value="{{data.address}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.city" matInput name="city" placeholder="City" type="text" value="{{data.city}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select [(ngModel)]="data.state" name="state" placeholder="Select a state">
        <mat-option *ngFor="let state of states" [value]="state.value">
          {{state.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input #postalCode [(ngModel)]="data.zip" matInput maxlength="5" name="zip" placeholder="Zip(5 digit)"
             type="number" value="{{data.zip}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.phone" matInput maxlength="10" name="phone" placeholder="Phone" type="number"
             value="{{data.phone}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="data.email" matInput name="email" placeholder="email" type="email" value="{{data.email}}">
    </mat-form-field>

    <div fxLayoutAlign="center center">
      <button [mat-dialog-close]="data" mat-raised-button type="submit">Submit</button>
      <button mat-dialog-close="true" mat-raised-button type="button"> Done</button>
    </div>
  </mat-dialog-content>
</form>
