<div class="wrapper" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <mat-card class="Info-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-around center">
      <button (click)="prevMonth()" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="p4">{{ currentDate.format('MMMM') }}</span>
      <button (click)="nextMonth()" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button (click)="prevYear()" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>{{ currentDate.format('YYYY') }}</span>
      <button (click)="nextYear()" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-toolbar>
    <div class="profile-attribute" fxLayout="row" fxLayoutAlign="center">
      <div *ngFor="let name of dayNames" class="week" fxLayout="row">
        <mat-card class="daynames" fxLayoutAlign="center center">{{ name }}</mat-card>
      </div>
    </div>
    <mat-card class="profile-attribute" fxLayout="row" fxLayoutAlign="center">

      <div class="weeks" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div *ngFor="let week of weeks" class="week" fxLayout="row">

          <ng-container *ngFor="let day of week">
            <div *ngIf="!isSelectedMonth(day.mDate)" class="week-date disabled" fxLayoutAlign="center center">
              <mat-card class="date-text">{{ day.mDate.date() }}</mat-card>
            </div>
            <div (click)="selectDate(day)"
                 *ngIf="isSelectedMonth(day.mDate)"
                 [ngClass]="{ today: day.today, selected: day.selected }"
                 class="week-date enabled">
              <mat-card class="date-text">
                <mat-card-header>
                  {{ day.mDate.date() }}<span fxFlex></span>
                  <button (click)="addShift()" *ngIf="user?.role === 'Manager'" color="accent" mat-icon-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-card-header>
                <mat-card-content>
                  <div *ngIf="shift?.date === day.mDate.date()">hello</div>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-card>
  </mat-card>
</div>


