@import "../../../styles";

$width: 100%;

  h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #0BA5DB;

  }
  .wrapper{
    width: 100%;
    .mat-card-title{
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }


.mat-sidenav{
  width: 50%;
}

.portal-bar{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.Info-card{
  width: auto;
  height: auto;
  //margin-bottom: 20px;
  .mat-raised-button{
    background-color: #0BA5DB;
    color: white;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mat-toolbar{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: auto;

  }
  h1{
    color: white;
    font-weight: bold;
  }
  .profile-attribute{
    width: auto;
    background-color: whitesmoke;

    .daynames{
      height: auto;
      width: 100%;
      font-size: 18px;
      background-color: #0BA5DB;
      color: white;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      border-radius: 0;
    }
    .date-text {
      padding: 0;
      width: 100%;
      height: 100px;
      font-size: 14px;


      .mat-card-header{
        font-family: Righteous, sans-serif;
        color: #3f51b5;
      }

    }
  }
}



.week-date{
  width: 100%;
  .disabled{
    color: #777777;
    font-family: Righteous, sans-serif;
  }
}

.week, .weeks{
  margin-top: 20px;
  width: 100%;
}
