<mat-card fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <h1 mat-card-title>Select a DJ</h1>
  </mat-card-header>
  <mat-card-content>
    <div>
      {{data?.venue}}
    </div>
    <div>
      {{data?.day}}
    </div>
    <div>
      {{data?.time}}
    </div>

    <mat-form-field class="example-full-width">
      <mat-select [(ngModel)]="data.dj" placeholder="Select a role">
        <mat-option value="">(none)</mat-option>
        <mat-option *ngFor="let dj of djs" [value]="dj">
          {{dj}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </mat-card-content>
  <mat-card-actions>
    <button [mat-dialog-close]="data" mat-raised-button type="submit">Choose</button>
  </mat-card-actions>
</mat-card>
