<div class="backdrop" fxLayoutAlign="center center" fxLayout="column">
<mat-card class="login-card" fxFlex>
  <mat-card-header fxLayoutAlign="center center">
    <span class="sync-logo">
      Sync
    </span>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onLoginSubmit()" class="example-form" fxLayoutGap="30px">
      <div class="login-bar" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username" required="required">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required="required">
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" value="login">LOGIN</button>
        </div>
        <div fxFlex="20">
          <a class="forgot-password" routerLink="reset-password">Forgot Password?</a>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>

