<div class="calendar-container" fxLayout="row">
  <div fxFlex="50">
    <mat-card class="card">
      <mat-card-content class="card-body">
        <ul>
          <li
            *ngFor="let event of externalEvents"
            [dropData]="{event: event}"
            mwlDraggable
            style="position:relative; z-index: 10">
            <a
              [style.color]="event.color.primary"
              href="javascript:">
              {{ event.title }}
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50">


    <mat-card class="col-md-9">
      <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
      </mwl-demo-utils-calendar-header>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          (eventTimesChanged)="eventDropped($event)"
          *ngSwitchCase="'month'"
          [activeDayIsOpen]="activeDayIsOpen"
          [events]="events"
          [refresh]="refresh"
          [viewDate]="viewDate">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          (eventTimesChanged)="eventDropped($event)"
          *ngSwitchCase="'week'"
          [events]="events"
          [refresh]="refresh"
          [viewDate]="viewDate">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          (eventTimesChanged)="eventDropped($event)"
          *ngSwitchCase="'day'"
          [events]="events"
          [refresh]="refresh"
          [viewDate]="viewDate">
        </mwl-calendar-day-view>
      </div>
    </mat-card>

  </div>

</div>

