<mat-card class="example-form" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header><h1>Register</h1></mat-card-header>
  <mat-card-content>
    <form (submit)="onRegisterSubmit()" class="example-form" fxLayoutGap="20px">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" matInput placeholder="Name" required="required"
               type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="last" [ngModelOptions]="{standalone: true}" matInput placeholder="Last" required="required"
               type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" matInput placeholder="Username" required="required"
               type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" matInput placeholder="Email" required="required"
               type="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" matInput placeholder="Password"
               required="required" type="password">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="role" name="role" placeholder="Select a role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div fxLayoutAlign="center center">
        <button mat-raised-button type="submit">Submit</button>
      </div>

    </form>
  </mat-card-content>
  <div fxLayoutAlign="center center">
    <a class="cancel" routerLink="login">cancel</a>
  </div>
</mat-card>
