<div fxLayoutAlign="center center" fxLayout="column">
  <mat-card class="login-card" fxFlex>
    <mat-card-header fxLayoutAlign="center center">
    <span class="sync-logo">
      Sync
    </span>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onLoginSubmit()" class="example-form" fxLayoutGap="30px">
        <div class="login-bar" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="new_password" [ngModelOptions]="{standalone: true}" placeholder="Password" required="required">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="password_check" [ngModelOptions]="{standalone: true}" placeholder="Retype Password" required="required">
          </mat-form-field>
          <div>
            <button mat-raised-button type="submit" value="login">Reset Password</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
