@import "../../../src/styles.scss";

.login-card {
  margin-top: 60px;
  width: 75%;
  height: 100%;
  border-radius: 5px;

  form {
    .mat-form-field {
      width: 50%;
    }

    .mat-raised-button {

      font-family: Roboto, "Helvetica Neue", sans-serif;
      background-color: #0BA5DB;
      color: white;
      font-weight: bold;

    }
  }
}

.backdrop {
  background-color: #0BA5DB;
}

.sync-logo {
  font-family: Righteous, sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0;
  color: #0BA5DB;
}

