@import "../../portal/portal-home/portal-home.component";

.avail-card{
  width: 100%;
  //margin: 16px;
  .mat-card-header{
    font-weight: bolder;
  }
  .day-avail{
    width: auto;
    .day {
      width: 50%;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.full-height{
  height: 100%;
}
.all{
  background-color: #3f51b5;
  color: white;
}

.example-spacer{
  flex: 1 1 auto;
}
